@model Contact
@{ 
    ViewBag.Title = "Delete Contact";
}

<h2>Delete Contact</h2>
<p>Do you really want to delete <span class="font-weight-bold">@Model.FirstName + " " + @Model.LastName</span></p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ContactId" />

    <button type="submit" class="btn btn-dark">Yes</button>
    <a asp-controller="Contact" asp-action="Details" class="btn btn-dark">No</a>
</form>